
:root {
    --Bprimary: #2c8d8d;
    --Bmid:#009495;
    --Bsecondary: #02e9bd;
    --Bdark: #144747;
    --BlightDark:#3c7272;
    --Blight: #F3F3F3;
}

body{
    background-image: linear-gradient(var(--Bmid),var(--Bprimary),var(--Bdark),var(--Bdark),var(--BlightDark),var(--Bprimary), var(--Bsecondary));;
    /* overflow-x: hidden; */
}

.overFlow{
    overflow: hidden;
}

.mobileTextGrid{
    display: none;
}

.getReadyBox{
    margin-top: 100px;
    margin-bottom: 50px;
}

.getReady{
    font-size: 150px;
    margin-top: 30px;
    color: white;
}

.zeroOpacity{
    opacity: 0;
}

.underText{
    z-index: 0;
    color: white;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


.slideImage{
    width: 320px;
    height: inherit;
    border-radius: 9px;
}

.imageBox{
    width: 400px;
}

.image1{
    position: relative;
    z-index: 2;
}

.image2{
    position: relative;
    z-index: 5;
    transform: matrix(1, 0, 0, 1, 50, -390);
}

.image3{
    position: relative;
    z-index: 6;
    transform: matrix(1, 0, 0, 1, -50, -740);
}

.image4{
    position: relative; 
    z-index: 4;
    transform: matrix(1, 0, 0, 1, -100, -1280);
}

#firstClone{
    display: none;
}

#lastClone{
    display: none;
}

#secondClone{
    display: none;
}

.hidden{
    display: none;
}

.imageShow{
    width: 0px;
    height: 1500px;
    transform: matrix(1, 0, 0, 1, -350, 0);
}

.ready{
    width: 500px;
    transform: matrix(1, 0, 0, 1, -550, -200);
}

.readyARText{
    opacity: 0;
    color: white;
    font-size: 70px;
}


.animationADD{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 1800px;
}

.fadeout{
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; 
    animation-delay: 3s;
}

.changeOpacityNormal{
    animation-name: changeOpacity;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; 
}

.changeOpacityFast{
    animation-name: changeOpacity;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; 
    animation-delay: 0.5s;
}

.changeOpacitySlow{
    animation-name: changeOpacity;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; 
    animation-delay: 1s;
}

@keyframes changeOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



@media only screen and (max-width: 1200px) and (min-width : 770px) {
    .getReady{
        font-size: 90px;
    }

    .animationADD{
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        height: 1300px;
    }

    .imageShow{
        /* height: 1500px; */
        transform: matrix(1, 0, 0, 1, -180, -10);
        transition: transform 0.4s ease-in-out;
    }
    
    .ready{
        width: 300px;
        transform: matrix(1, 0, 0, 1, -350, -550);
    }

    .readyARText{
        opacity: 0;
        color: white;
        font-size: 50px;
    }
    
    .slideImage{
        width: 250px;
        height: inherit;
        border-radius: 9px;
    }
    
    .imageBox{
        width: 300px;
    }

    .image2{
        transform: matrix(1, 0, 0, 1, 50, -320);
    }
    
    .image3{
        transform: matrix(1, 0, 0, 1, -50, -600);
    }
    
    .image4{
        transform: matrix(1, 0, 0, 1, -100, -1020);
    }

}

@media only screen and (max-width: 770px){

    .container{
        margin: 0;
        width: 100%;
        max-width: fit-content;
        overflow: hidden;
    }

    .mobileTextGrid{
        margin: auto;
        display: flex;
        width: 360px;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .rightWord{
        margin-left: 152px;
        float: right;
    }

    .leftWord{
        margin-right: 152px;
        float: left;
        }

    .getReady{
        display: none;
    }

    .getReadyBox{
        height: 400px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .mobileTextSize{
        font-size: 90px;
        color: white;
        opacity: 0;
    }

    .animationADD{
        margin-left: auto;   
        margin-right: auto;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    .imageShowContainer{
        width: 100%;
        margin: auto;
        transition: transform 0.4s ease-in-out;
        /* transform: matrix(1, 0, 0, 1, 265, 0); */
        /* overflow: hidden; */
    }

    .imageShow{
        width: 100%;
        height: inherit;
        display: flex;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }


    
    .ready{
        width: 300px;
        transform: matrix(1, 0, 0, 1,0, 0);
        display: none;
    }

    .readyARText{
        opacity: 0;
        color: white;
        font-size: 50px;
    }
    
    .slideImage{
        width: 320px;
        height: inherit;
        border-radius: 9px;
    }
    
    .imageBox{
        width: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }


    #firstClone{
        display: block;
    }

    #lastClone{
        display: block;
    }

    #secondClone{
        display: block;
    }

    .image2{
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    
    .image3{
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    .image4{
        transform: matrix(1, 0, 0, 1, 0, 0);
    }  

    .underText{
        margin-top: 20px;
        font-size: 20px;    
    }
}