body{
    /* background-image: linear-gradient(var(--Bmid),var(--Bprimary),var(--Bdark),var(--Bdark),var(--BlightDark),var(--Bprimary), var(--Bsecondary));; */
    /* overflow-x: hidden; */
}

.Hcenter{
  margin-left: auto;
  margin-right: auto;
}

.Vcenter{
  display: flex;
  align-items: center;
}

nav div .logo{
  font-weight: 700;
  text-decoration: none;
  letter-spacing:3px;
  font-size: 32px;
  height: 30px;
}
nav {
  background-color: lightcyan;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr; 

  /* justify-content: center;
  align-items: center; */
  width: 100%;
  margin: 0 auto 0;
  padding: 10px 0 10px 0;
}
nav div {
  align-content: center;
  text-align: center ;
  margin-top: auto;
  margin-bottom: auto;
}

.body2::after{
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  z-index: -1;
  clip-path: circle(50.0% at 12% 50%);
}

.body2{
    display: flex;
    height: 100vh;
    max-width: 100%;
    /* background: rgba(255,255,255,0.1); */
    justify-content:center;
    align-items:center;
    overflow:hidden;
    border-radius:10px;

}

.Hackathon{
  letter-spacing:6px;
  margin-right: 45px;
  width: 560px;
}

.logoPannel .text{
    flex-grow: 4;
    /* margin-right: end; */
    width: 600px;
    color: #0a1b2d;
    position: static;
    margin-left: 70px;
}

.logoPannel .text h2{
    font-size: 80px;
}

.logoPannel .logo{
    /* margin-right: -.5cm; */
    width:600px;
    margin-left: 50px;
}

.logoPannel p{
    padding-right: 10px;
    border-right: 4px solid rgb(55, 85, 136);
}

  .logoPannel{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-content: stretch; */
    column-gap: 60px;
    align-items: center;
    height: 100%;
    width:fit-content;
    height: fit-content;
  }

  .logoImg{
    width: 600px;
  }

  .infoTextBox{
    margin-right: 60px;
  }

 

/* for footer */

footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr; 
  width: 100%;
  margin: 0 auto 0;
  padding: 10px 0 10px 0;
}

footer div {
  align-content: center;
  text-align: center ;
  margin-top: auto;
  margin-bottom: auto;  
}


@media only screen and (max-width: 1380px)  {
   
  .logoPannel .text{
    width: 450px;
    margin-left: 0;
  }

  .body2::after{
    clip-path: circle(50.0% at 80px 50%);
  }

  .logoImg{
    width: 450px;
  }
  
  .infoTextBox{
    /* margin-right: 50px; */
    /* width: 400px; */
  }

  .logoPannel{
      column-gap: 100px;
  }

  .logoPannel .logo {
    width:450px;
    margin-left: 0;
    /* margin-left: 50px; */
  }
    /* .logoPannel .logo img {
      margin-right: -.5cm;
      width: 100%;
      align-self: center;
    
    } */
  /* .logoPannel .text{
    margin-left: -.5cm;
    width: 40%;
    overflow: hidden;
    } */

  .logoPannel .text h2{
    font-size: 55px;  
  }

  .Hackathon{
    letter-spacing:6px;
    margin-right: 45px;
    width: 450px;
  }
  
}
    
@media only screen and (max-width: 1150px)  {
  .body2::after{
    clip-path: circle(50.0% at 70px 50%);
    }

  .Hackathon{
    letter-spacing:6px;
    margin-right: 20px;
    width: 450px;
  }

  .infoTextBox{
    margin-right: 30px;
  }
}  
  
@media only screen and (max-width: 1050px) {
  

  .Hackathon{
    letter-spacing:6px;
    margin-right: 0;
    width: 360px;
  }


  .body2::after{
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 .5%, 100% 50%, 100% 100%, 0% 100%);
  }

  .body2{
    height: 800px;
  }

  .logoPannel {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 360px;
  }

  .logoPannel .text{
    /* display: inline-flex;
    flex-direction: column;
    padding-top: 70px;
    width: fit-content;
    justify-content: center;
    align-items: baseline; */
    width: 350px;
  }

  .logoImg{
    width: 350px;
  }

  .logoPannel .logo {
    width:350px;
    margin-left: 0;
    /* margin-left: 50px; */
  }

  .infoTextBox{
    width: 340px;
    margin-right: 10px;
  }

  .logoPannel .text h2{
    font-size: 50px;  
  }


  .goUp{ 
    grid-area: goUp;
  }
  
  .socials{
    grid-area: socials;
  }

  .CR{
    grid-area: CR;

  }

  footer{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "goUp socials"
    "CR CR"
    ;
  }
}