.headerBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText{
    font-size: 90px;
    color: #FFF;
}

.supportersBox{
    margin-top: 50px;
}

.targetedPeople{
    opacity: 0.5;
    font-size: 15px;
}

.intro{
    font-size: 17px;
}

@media only screen and (max-width: 770px){
    .headerText{
        font-size: 60px;
        margin-top: 50px;
    }

}